* {
    font-family: cursive;
    box-sizing: border-box;
}

body {
    background-color: #f3870c;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

form {
    width: 1000px;
    border: 3px solid rgba(230, 210, 39);
    padding: 20px;
    background-color: rgb(233. 236, 40);
    border-radius: 20px;
}

h2{
    text-align: center;
    margin-bottom: 40px;
}

input {
    display: block;
    border: 2px solid #ccc;
}

.error {
    text-align: center;
    padding: 10px 20px;
    background-color: pink;
}